INOVIX/Service References/ServiceReferenceApt/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModeloCanonico" />
  <xs:element name="SolicitarBilhetePortabilidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="1" name="custumer" nillable="true" type="q1:Custumer" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="1" name="acount" nillable="true" type="q2:Acount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarBilhetePortabilidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="0" name="SolicitarBilhetePortabilidadeResult" nillable="true" type="q3:Portability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>