ClientTest/Service References/ServiceReferenceInovix/InovixService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/INOVIX" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/INOVIX" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetornoChamada">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoChamada" nillable="true" type="tns:RetornoChamada" />
</xs:schema>