ClientTest/Service References/ServiceReferenceInovix/InovixService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModeloCanonico" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModeloCanonico" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Custumer">
    <xs:sequence>
      <xs:element name="cpf" nillable="true" type="xs:string" />
      <xs:element name="enderecoCompleto" nillable="true" type="xs:string" />
      <xs:element name="nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Custumer" nillable="true" type="tns:Custumer" />
  <xs:complexType name="Acount">
    <xs:sequence>
      <xs:element name="dataUltimoVencimento" type="xs:dateTime" />
      <xs:element name="number" nillable="true" type="xs:string" />
      <xs:element name="paga" type="xs:boolean" />
      <xs:element name="valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Acount" nillable="true" type="tns:Acount" />
</xs:schema>