ClientTest/Service References/ServiceReferenceInovix/InovixService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53090/InovixService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloCanonico" />
  <xs:import schemaLocation="http://localhost:53090/InovixService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/INOVIX" />
  <xs:import schemaLocation="http://localhost:53090/InovixService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="SolicitaPortabilidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="0" name="custumer" nillable="true" type="q1:Custumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitaPortabilidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/INOVIX" minOccurs="0" name="SolicitaPortabilidadeResult" nillable="true" type="q2:RetornoChamada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginObterRespostaAnatel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="0" name="customer" nillable="true" type="q3:Custumer" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="0" name="conta" nillable="true" type="q4:Acount" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="callback" nillable="true" type="q5:AsyncCallback" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginObterRespostaAnatelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeginObterRespostaAnatelResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>