ClientTest/Service References/ServiceReferenceInovix/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InovixService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53090/InovixService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53090/InovixService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53090/InovixService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloCanonico" />
      <xsd:import schemaLocation="http://localhost:53090/InovixService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/INOVIX" />
      <xsd:import schemaLocation="http://localhost:53090/InovixService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInovixService_SolicitaPortabilidade_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitaPortabilidade" />
  </wsdl:message>
  <wsdl:message name="IInovixService_SolicitaPortabilidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitaPortabilidadeResponse" />
  </wsdl:message>
  <wsdl:message name="IInovixService_BeginObterRespostaAnatel_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginObterRespostaAnatel" />
  </wsdl:message>
  <wsdl:message name="IInovixService_BeginObterRespostaAnatel_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginObterRespostaAnatelResponse" />
  </wsdl:message>
  <wsdl:portType name="IInovixService">
    <wsdl:operation name="SolicitaPortabilidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IInovixService/SolicitaPortabilidade" message="tns:IInovixService_SolicitaPortabilidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInovixService/SolicitaPortabilidadeResponse" message="tns:IInovixService_SolicitaPortabilidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginObterRespostaAnatel">
      <wsdl:input wsaw:Action="http://tempuri.org/IInovixService/BeginObterRespostaAnatel" message="tns:IInovixService_BeginObterRespostaAnatel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInovixService/BeginObterRespostaAnatelResponse" message="tns:IInovixService_BeginObterRespostaAnatel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInovixService" type="tns:IInovixService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitaPortabilidade">
      <soap:operation soapAction="http://tempuri.org/IInovixService/SolicitaPortabilidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginObterRespostaAnatel">
      <soap:operation soapAction="http://tempuri.org/IInovixService/BeginObterRespostaAnatel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InovixService">
    <wsdl:port name="BasicHttpBinding_IInovixService" binding="tns:BasicHttpBinding_IInovixService">
      <soap:address location="http://localhost:53090/InovixService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>