INOVIX/Service References/ServiceReferenceKGB/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModeloCanonico" />
  <xs:element name="ObterStatusFinanceiroCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="cpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterStatusFinanceiroClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="0" name="ObterStatusFinanceiroClienteResult" nillable="true" type="q1:Custumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByCPF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="cpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByCPFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="0" name="GetCustomerByCPFResult" nillable="true" type="q2:Custumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDadosConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="1" name="customer" nillable="true" type="q3:Custumer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDadosContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModeloCanonico" minOccurs="0" name="ObterDadosContaResult" nillable="true" type="q4:Acount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>