INOVIX/Service References/ServiceReferenceKGB/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KgbService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IKgbService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://br.pucminas" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModeloCanonico" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKgbService_ObterStatusFinanceiroCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterStatusFinanceiroCliente" />
  </wsdl:message>
  <wsdl:message name="IKgbService_ObterStatusFinanceiroCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterStatusFinanceiroClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IKgbService_ObterStatusFinanceiroCliente_PortabilidadeFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://br.pucminas" name="detail" element="q1:PortabilidadeFault" />
  </wsdl:message>
  <wsdl:message name="IKgbService_GetCustomerByCPF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByCPF" />
  </wsdl:message>
  <wsdl:message name="IKgbService_GetCustomerByCPF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByCPFResponse" />
  </wsdl:message>
  <wsdl:message name="IKgbService_GetCustomerByCPF_PortabilidadeFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://br.pucminas" name="detail" element="q2:PortabilidadeFault" />
  </wsdl:message>
  <wsdl:message name="IKgbService_ObterDadosConta_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosConta" />
  </wsdl:message>
  <wsdl:message name="IKgbService_ObterDadosConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosContaResponse" />
  </wsdl:message>
  <wsdl:message name="IKgbService_ObterDadosConta_PortabilidadeFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://br.pucminas" name="detail" element="q3:PortabilidadeFault" />
  </wsdl:message>
  <wsdl:portType name="IKgbService">
    <wsdl:operation name="ObterStatusFinanceiroCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IKgbService/ObterStatusFinanceiroCliente" message="tns:IKgbService_ObterStatusFinanceiroCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKgbService/ObterStatusFinanceiroClienteResponse" message="tns:IKgbService_ObterStatusFinanceiroCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKgbService/ObterStatusFinanceiroClientePortabilidadeFaultFault" name="PortabilidadeFaultFault" message="tns:IKgbService_ObterStatusFinanceiroCliente_PortabilidadeFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByCPF">
      <wsdl:input wsaw:Action="http://tempuri.org/IKgbService/GetCustomerByCPF" message="tns:IKgbService_GetCustomerByCPF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKgbService/GetCustomerByCPFResponse" message="tns:IKgbService_GetCustomerByCPF_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKgbService/GetCustomerByCPFPortabilidadeFaultFault" name="PortabilidadeFaultFault" message="tns:IKgbService_GetCustomerByCPF_PortabilidadeFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IKgbService/ObterDadosConta" message="tns:IKgbService_ObterDadosConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKgbService/ObterDadosContaResponse" message="tns:IKgbService_ObterDadosConta_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKgbService/ObterDadosContaPortabilidadeFaultFault" name="PortabilidadeFaultFault" message="tns:IKgbService_ObterDadosConta_PortabilidadeFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IKgbService" type="tns:IKgbService">
    <wsp:PolicyReference URI="#NetTcpBinding_IKgbService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObterStatusFinanceiroCliente">
      <soap12:operation soapAction="http://tempuri.org/IKgbService/ObterStatusFinanceiroCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PortabilidadeFaultFault">
        <soap12:fault use="literal" name="PortabilidadeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByCPF">
      <soap12:operation soapAction="http://tempuri.org/IKgbService/GetCustomerByCPF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PortabilidadeFaultFault">
        <soap12:fault use="literal" name="PortabilidadeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosConta">
      <soap12:operation soapAction="http://tempuri.org/IKgbService/ObterDadosConta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PortabilidadeFaultFault">
        <soap12:fault use="literal" name="PortabilidadeFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KgbService">
    <wsdl:port name="NetTcpBinding_IKgbService" binding="tns:NetTcpBinding_IKgbService">
      <soap12:address location="net.tcp://localhost:8523/KgbService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8523/KgbService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>